
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustTranModul</title>
</head>
<body>
    <div>
        <a href="/Obmvc/AfCustTranModul/">Customer Transaction Module</a><br /><br />
        <a href="/Obmvc/EmpTranModul/">Employee Transaction Module</a><br /><br />
    </div>
</body>
</html>
