
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpTranModul</title>
</head>
<body>
    <div> 
        <form>
            <a href="#">Customer Details</a><br /><br />
            <a href="#">Transaction Report</a>
        </form>
    </div>
</body>
</html>
